$fuse-navy-700: #2D323E;
$fuse-navy-900: #1E2129; 
$fuse-gray-blue: #607d8b;
$fuse-brown: #303030;
$fuse-navy-light: #fafafa;
$fuse-light: #989898;
$fuse-dark: #545454;
$fuse-blue: #039be5;
$fuse-yellow: #FDD835;
$fuse-pink: #e91e63;
$font-muli: Muli, sans-serif;
$font-20: 20px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

*{
  margin: 0;
  padding: 0;
  font-family: $font-muli;
  line-height: 1.4;
  letter-spacing: -0.1px;
}

.container {
  background-color: $fuse-navy-700;
}